@page
@model RCL.Core.Identity.SelfAssertion.Pages.Account.PasswordModel
@{
    ViewData["Title"] = "Password";
}

<div class="card shadow rounded mt-2 mb-5">
    <div class="card-header"><h5>How to change your password</h5></div>
    <div class="card-body">
        <div class="alert alert-info">
            <p><i class="bi bi-info-circle"></i> If you need to change your password, first Sign Out. 
                The next time you try to sign in, click the <strong>Forgot your password?</strong> link in the Sign in page. 
                There, you can reset your password.</p>
        </div>
    </div>
</div>
